@charset "utf-8";

.ask {
    display: block;
    padding-left: 50px;
    padding-top: 200px;
    width: 250px;
}


#runaway-btn {
  padding-top: 5px;
  width: 90px;
  height: 30px;
  margin-top: 18px;
  display: flex;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px 5px 5px 5px;
  margin-left: 30px;
  box-shadow: 2px 2px 4px #888888;
  background-color: white;
  padding-left: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.button-choice {
    padding-top: 5px;
    width: 90px;
    height: 30px;
    margin-top: 18px;
    display: inline-block;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px 5px 5px 5px;
    margin-left: -130px;
    box-shadow: 2px 2px 4px #888888;
    background-color: white;
    padding-left: 5px;
    position: absolute;
  top: 50%;
  left: 50%;
}

.marryme-page {
    height: 750px;
    background-color: rgb(254, 249, 243);
}

.me {
    width: 150px;
}

.she {
    width: 150px;
}

.puture {
    position: absolute;
    top: 200px;
    left: 35px;
    height: 150px;
    box-shadow: 5px 5px 1px 1px grey;
    border: 1px solid black;
}

.successText {
    font-size: 30px;
    left: 10px;
    position: absolute;
    top: 200px;
}

.successDate {
    font-size: 20px;
    left: 10px;
    position: absolute;
    top: 250px;
    font-weight: lighter;
    left: 10px;
}

svg {
    box-shadow: 1px 1px 0 0 grey;
    position: absolute;
    top: 575px;
    left: 250px;
    width: 80px;
    height: 80px;
    border: 1px solid white;
}

.comma {
    font-family: fantasy;
    font-size: 25px;
}

.qrlove {
    
    z-index: 99;
    position: absolute;
    top: 398px;
    left: 240px;
    width: 30px;
    border: 1px solid black;

}



div:focus{
	outline:none;
}